//- cf. http://stackoverflow.com/a/8498629/1834093

- var _matches = site.url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i);
- var domain = _matches && _matches[1];

script.
  !function(G,h,p,a,g,e){G.GoogleAnalyticsObject=a,G[a]||(G[a]=function(){(G[a].q=G[a].q||[]).push(arguments)}),G[a].l=+new Date,g=h.createElement(p),e=h.getElementsByTagName(p)[0],g.src="//www.google-analytics.com/analytics.js",e.parentNode.insertBefore(g,e)}(window,document,"script","ga"),ga("create","UA-#{ site.trackingID }","#{ domain }"),ga("send","pageview");
