//- cf. http://stackoverflow.com/a/8498629/1834093

- var _matches = site.url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i);
- var domain = _matches && _matches[1];

script.
  !function(y,e,o,m,a,n){y.GoogleAnalyticsObject=m,y[m]||(y[m]=function(){(y[m].q=y[m].q||[]).push(arguments)}),y[m].l=+new Date,a=e.createElement(o),n=e.getElementsByTagName(o)[0],a.src="//www.google-analytics.com/analytics.js",n.parentNode.insertBefore(a,n)}(this,document,"script","ga");ga("create","UA-#{ site.trackingID }","#{ domain }");ga("send","pageview");
