mixin loadJQuery(version)
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/#{ version }/jquery.min.js")

  - var jQueryFallbacks = [];
    //- Google Hosted Libraries
  - jQueryFallbacks[0] = 'http://code.jquery.com/jquery-' + version + '.min.js';
    //- jQuery's CDN 
  - jQueryFallbacks[1] = 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-' + version + '.min.js';
    //- Local copy
  - jQueryFallbacks[2] = 'js/jquery' + (version.charAt(0) === '1'? '1': '') +'.js';

  each url in jQueryFallbacks
    script.
      this.jQuery||document.write("<script src=#{ url }><\/script>");
  
|<!--[if lt IE 9]>
+loadJQuery(jquery1_ver)
|<![endif]-->

//[if gte IE 9]><!
+loadJQuery(jquery_ver)
//<![endif]
